body {
	margin: 0;
}

.section-common {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 66px;
}

.section-area1 {
	background-color: rgb(255, 110, 110);
}
.section-area2 {
	background-color: rgb(255, 229, 81);
}
.section-area3 {
	background-color: rgb(245, 255, 192);
}
.section-area4 {
	background-color: rgb(138, 255, 148);
}

.slide-navigation button:nth-child(1) {
	display: none;
}

.slide-navigation button:nth-last-child(1) {
	display: none;
}

.slide-navigation button {
	background-color: white;
	border-radius: 10px;
	border: 1px solid black;
	width: 5px;
	height: 15px;
	margin: 0 5px;
	font-size: 0px;
	cursor: pointer;
}

.slide-navigation {
	position: fixed;
	height: 10%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	justify-content: space-around;
}

.slide-navigation button:disabled {
	background-color: black;
	border: 1px solid white;
}
