@font-face {
	font-family: "KoreaL";
	src: url(./font/KoreaL.ttf);
}

.main {
	display: flex;
	background-image: url(./pic/main.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-position: center;
	flex-direction: row;
	align-items: center;
}

.main-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
	background-color: rgba(98, 0, 0, 0.566);
	width: 100%;
	height: 50%;
}
.main-img {
	display: flex;
	height: 50%;
	margin-right: 20%;
}
.main-text {
	display: flex;

	flex-direction: column;
	align-items: flex-start;
	align-content: center;
	justify-content: center;
}

.main-title-text {
	color: rgb(0, 0, 0);
	font-family: "KoreaL";
	font-weight: bold;
	text-shadow: 5px 5px 5px rgb(255, 255, 255);
	text-decoration-color: rgb(255, 253, 197);
	display: flex;
	margin-left: 7%;
	margin-top: 3%;
	width: 100%;
	align-items: center;
	font-size: 85pt;
}

.main-sub-text {
	color: rgb(255, 255, 255);
	font-family: "KoreaL";
	font-weight: bold;
	text-shadow: 3px 3px 3px rgb(0, 0, 0);
	display: flex;
	margin-left: 8%;
	width: 100%;
	align-items: center;
	font: bold;
	font-size: 35pt;
}
