@font-face {
	font-family: "KoreaL";
	src: url(./font/KoreaL.ttf);
}
.container {
	display: flex;
	width: 100%;
	height: 100%;
	margin-top: 5%;
	flex-direction: row;
	justify-content: space-around;
}
.container-explain {
	display: flex;
	width: 45%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 15pt;
	background-color: rgb(233, 210, 147);
}
.container-title {
	display: flex;
	margin-bottom: 10%;
	font-size: 25pt;
}
.container-text {
	display: flex;
	font-size: 15pt;
	margin-bottom: 3%;
}
.container-map {
	display: flex;
	background-color: aqua;
	width: 45%;
	height: 100%;
}
