@font-face {
	font-family: "KoreaL";
	src: url(./font/KoreaL.ttf);
}
.container {
	display: flex;
	width: 100%;
	height: 100%;
	margin-top: 5%;
	flex-direction: row;
	justify-content: space-around;
}
.container-explain {
	display: flex;
	width: 45%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 15pt;
	background-color: rgb(233, 210, 147);
}
.container-title {
	display: flex;
	margin-bottom: 10%;
	font-size: 25pt;
}
.container-text {
	display: flex;
	font-size: 15pt;
	margin-bottom: 5%;
}
.container-map {
	display: flex;
	background-color: aqua;
	width: 45%;
	height: 100%;
}

#link-button {
	width: 80%;
	height: 5%;
	background-color: #ffffff99;
	cursor: pointer;
	display: flex;
	margin-top: 5%;
	text-align: center;
	align-items: center;
	justify-content: center;
	user-select: none;
	border: 1.5px solid #00000077;
	border-radius: 5px;
	z-index: 10;
}

#link-button:hover {
	border-width: 2px;
	border-color: #000000;
	font-weight: bold;
	box-shadow: 1px 1px 3px 1px gray;
}
